@charset "UTF-8";

/*
    Paleta de Cores
    Preto fosco: #31312F
    Branco gelo: #E5E1D8
    Cinza diferente: #C5C5B9
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #E5E1D8;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
 
section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;

    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);

    transition: width 0.3s, height 0.3s;
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background: #E5E1D8 url(../imagens/tela.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
    margin-bottom: 15px;
}

form > div.campo{
    background-color: #E5E1D8;
    height: 30px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    width: 35px;
    padding: 5px;
}

div.campo > input{
    background-color: #c5c5b9a2;
     font: 1em;
     width: calc(100% - 40px);
     height:100%;
     border-radius: 5px;
     border: none;
     padding: 4px;
     transform: translateY(-9px);
}

div.campo > input:focus-within{
    background-color: white;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color:#31312f6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #31312F;
}

form > a.botao{
    display: block;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: #dddbd4c2;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #31312f6b;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao:hover{
    background-color: #b1b0adf6;
}

form > a.botao > span{
    font-size: 0.8em;
}